*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;

}

.col-4{
    width: 33.33333333333333333333%;
    padding: 0 auto;
}

.col-6{
    width: 50%;
    padding: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

section{
    padding-top: 100px;
}